streamlit==1.32.2
tencentcloud-sdk-python>=3.0.1100
Pillow>=10.3.0
numpy==1.26.4
rembg==2.0.57
streamlit-drawable-canvas==0.9.2
onnxruntime==1.17.3
opencv-python-headless==4.9.0.80
python-multipart==0.0.9
typing-extensions==4.9.0

